@font-face {
  font-family: 'sourcecodepro';
  src: url('../fonts/sourcecodepro-regular-webfont.eot');
  src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "sourcecodepro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222 url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.center-box {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-box h1 {
  margin-top: 0;
}

.center-box .icons a {
  padding: 2%;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

.center-box .icons img {
  width: 48px;
  height: 48px;
  display: inline-block;
}
